<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sys.dao.ResourcesMapper" >
    <select id="findAll" resultType="sys.model.Resources">
        <![CDATA[
        SELECT * from resources
        ]]>
    </select>
    <select id="getUserResources" resultType="Resources"
            parameterType="String">
     <![CDATA[
          SELECT *
          FROM resources
          WHERE id IN (
	          SELECT DISTINCT resc_id
	          FROM  resources_role
	          WHERE role_id IN (
	            SELECT DISTINCT role_id
	            FROM user_role
	            WHERE user_id = (
		          SELECT userId
		          FROM  user
		          WHERE userName = #{VALUE}
	            )
	          )
          )
      ]]>
    </select>
    <select id="getSelect" resultType="Resources">
        <![CDATA[
          SELECT id,name,level from resources WHERE id != 0
        ]]>
    </select>

    <select id="MODEL" resultType="Resources"
            parameterType="String">
      <![CDATA[
          SELECT * from resources
      ]]>
    </select>
</mapper>