<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/cache
       http://www.springframework.org/schema/cache/spring-cache-3.2.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
       <!--外部文件引入-->
       <!--<context:property-placeholder location="classpath*:config/db.properties"/>-->
       <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
              <property name="ignoreResourceNotFound" value="true" />
              <property name="locations">
                     <list>
                            <value>classpath:jdbc.properties</value>
                            <value>classpath:rabbitmq/mq.properties</value>
                     </list>
              </property>
       </bean>
       <bean name="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
             init-method="init" destroy-method="close">
              <property name="url" value="${url}" />
              <property name="username" value="${username}" />
              <property name="password" value="${password}" />
              <!-- 初始化连接大小 -->
              <property name="initialSize" value="0" />
              <!-- 连接池最大使用连接数量 -->
              <property name="maxActive" value="20" />
              <!-- 连接池最大空闲 -->
              <property name="maxIdle" value="20" />
              <!-- 连接池最小空闲 -->
              <property name="minIdle" value="0" />
              <!-- 获取连接最大等待时间 -->
              <property name="maxWait" value="60000" />

              <!-- <property name="poolPreparedStatements" value="true" />
              <property name="maxPoolPreparedStatementPerConnectionSize" value="33" /> -->

              <property name="validationQuery" value="${validationQuery}" />
              <property name="testOnBorrow" value="false" />
              <property name="testOnReturn" value="false" />
              <property name="testWhileIdle" value="true" />

              <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
              <property name="timeBetweenEvictionRunsMillis" value="60000" />
              <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
              <property name="minEvictableIdleTimeMillis" value="25200000" />

              <!-- 打开removeAbandoned功能 -->
              <property name="removeAbandoned" value="true" />
              <!-- 1800秒，也就是30分钟 -->
              <property name="removeAbandonedTimeout" value="1800" />
              <!-- 关闭abanded连接时输出错误日志 -->
              <property name="logAbandoned" value="true" />
              <!-- 监控数据库 -->
              <!-- <property name="filters" value="stat" /> -->
              <property name="filters" value="mergeStat" />
       </bean>
       <!--sqlsessionFactory bean-->
       <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
              <property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
              <property name="dataSource" ref="dataSource"/>
       </bean>
       <!-- mapper 接口 -->
       <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
              <property name="basePackage" value="sys.dao"></property>
              <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
       </bean>
       <!--注解扫描-->
       <context:component-scan base-package="sys.service,sys.model,resource.secImpl,mq.service"/>
       <context:annotation-config></context:annotation-config>

       <!-- 启用缓存注解功能，这个是必须的，否则注解不会生效，另外，该注解一定要声明在spring主配置文件中才会生效 -->
       <cache:annotation-driven cache-manager="ehcacheManager"/>
       <!-- cacheManager工厂类，指定ehcache.xml的位置 -->
       <bean id="ehcacheManagerFactory" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
              <property name="configLocation" value="classpath:ehcache.xml" />
              <property name="shared" value="true"></property>
       </bean>
       <!-- 声明cacheManager -->
       <bean id="ehcacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
              <property name="cacheManager" ref="ehcacheManagerFactory" />
       </bean>

       <import resource="spring-transaction.xml"></import>
       <import resource="rabbitmq/spring-rabbitmq.xml"></import>
</beans>