<!DOCTYPE html>
<html lang="en" ng-app="SecDemoApp">
<head>
    <meta charset="UTF-8">
    <title>角色授权</title>
    <script src="/static/lib/angular.min.js"></script>
    <script src="/static/lib/jquery-1.11.2.min.js"></script>
    <script src="/static/js/global.js"></script>
    <script src="/static/js/application.js"></script>
    <script src="/static/js/role.js"></script>
</head>
<body ng-controller="BindResCtrl">
    <div><a href="/pages/role/list.html">返回角色列表</a></div>
    <form name="roleRes">

        <div >角色名称：{{role.name}}</div></div>
        <div>角色权限：</div>
        <div>所有权限</div>
        <div id="resList">
            <table name="resSelect">
                <tr ng-repeat="res in pSelect">
                    <td>{{res.id}}</td>
                    <td>{{res.name}}</td>
                    <td>
                        <input type="checkbox"
                               ng-click="updateSelectedRes($event,res.id)"
                               ng-checked="isSelected(res.id)" />
                    </td>
                </tr>
            </table>
        </div>
        <div>当前绑定权限集：{{roleRes}}</div>
        <div>
            <input type="button" value="提 交" ng-click="updateResList()"/>
        </div>
    </form>
</body>
</html>